<div class="sign-in_wrapper mat-typography">
  <div class="sign_in_header">
    <h1 class="mat-h2">Use email and password to sign in</h1>
  </div>
  <div class="sign-in_form__wrapper">
    <form class="sign-in_form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="sign_in-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field class="sign_in-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <button type="submit" [disabled]="!signInForm.valid" mat-button>
        Sign in
      </button>
    </form>
  </div>
</div>
