<div class="sign-in_wrapper mat-typography">
  <div class="sign-in_header">
    <h1 class="mat-h2">Use email and password to sign in</h1>
  </div>
  <div class="sign-in_form__wrapper">
    <form class="sign-in_form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="sign-in_field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error
          *ngIf="
            signInForm.get('email').touched &&
            signInForm.get('email').errors?.required
          "
        >
          Field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="sign-in_field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error
          *ngIf="
            signInForm.get('password').touched &&
            signInForm.get('password').errors?.required
          "
        >
          Field is required
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        [disabled]="!signInForm.valid"
        color="primary"
        mat-raised-button
      >
        Sign in
      </button>
    </form>
  </div>
</div>
